html { 
    background-color:palegoldenrod;
}

head {font-family:Verdana ;
    texte-j

}

h1 {
    text-align: center;
    text-decoration: underline;
    padding: 0;
    margin: 0;

}

h2{
    margin: 25px;
    color:seagreen;
}

